




/* 선택자를 사용하여  문서 모두에 영향을 끼치게 함 */
* {
    
    font-family: 'Noto Sans KR', sans-serif;
}





/*  movieRight(영화검색창) 전체 */
.movieRight{

    margin-left: 1500px;

    /* 영화카드 게시판이랑 아래 간격을 두어야 함  */
    margin-top: 30px;
    margin-bottom: 30px;

    background-color: gainsboro;
    border-radius: 10px;
    width: 275px;
   
}

/* movieSearchBar(영화검색바)  */
.movieRight .movieSearchBar {
    
    outline: none;
    width: 220px;
    height: 40px;
    font-size: 14px;
      
   border: none;
    
    border-radius: 20px;
    
    background-color: gainsboro;

    
    color: gray;

    
}

/* movieSearchbtn(영화검색버튼) */
.movieRight .movieSearchbtn {
    margin-left: 15px;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
}

.movieRight.movieSearchbtn:hover {
     color: gray;
}






/* movieListView(영화카드 게시판)이자 영화 홈페이지 중단 */
#movieListView {
    /* 
      display를 grid로 하고 
      grid-template-columns 를  1fr 1fr 1fr 로 주어 
      3개씩 보이게 한다.
    */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    font-weight: bold;
}
/* movieCard(영화카드) */
#movieListView > .movieCard {
   
    align-items: center;

    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    margin: 30px;

   width: 500px;
   height: 500px;    
}

/* mvImg(영화이미지) */
#movieListView > .movieCard  > .mvImg {
    border-radius: 3px;
    width: 500px;
    height: 250px;
}

/* mvRate(영화평점) , mvTitle(영화제묵) 을 모두 포함하는 movieCarte 클래스 선택자 */
#movieListView > .movieCard > .movieCarte {
    padding-left: 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-color: black;
    background-color: black;
    color: white;

    max-width: auto;
    margin: 0px;
}


/* mvRate(영화평점) , mvTitle(영화제목)을 각각 조절 */
#movieListView > .movieCard > .movieCarte > .mvTitle {
     padding-left: 5px;
     font-size: 14px;
     
}

#movieListView > .movieCard > .movieCarte > .mvRate {
    padding-right: 10px;
}


/*mvParam(영화내용) 설정*/
#movieListView > .movieCard > .mvParam {
    font-size: 11px;
    padding-left:4px;
}



/* movieBottom(영화 홈페이지 하단)  */
#movieBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* 영화 홈페이지 오른쪽  주소 / 이메일 */
#movieBottom > .mBottomright > .mBottomright__list {
    list-style-type: none;
    margin-right: 15px;
    padding: 3px;
}



