:root {
  /* 테두리 파레트 */
  --border-radius-small: 3px;
  --border-radius-medium: 10px;
  --border-radius-large: 20px;

  /* 색깔 파레트 */
  --color-border: black;
  --color-text-primary: gray;
  --color-text-secondary: white;
  --color-background-light: gainsboro;
  --color-background-dark: black;
  --color-transparent: transparent;

  /* 글자파레트 */
  --font-family: "Noto Sans KR", sans-serif;
  --font-weight-bold: bold;
  --font-size-small: 10px;
  --font-size-medium: 14px;
  --font-size-large: 11px;

  /* 가로, 높이 파레트 */
  /* width */
  --width-small: 275px;
  --width-medium: 220px;
  --width-large: 500px;
  --max-width-auto: auto;

  /* height */
  --height-small: 40px;
  --height-medium: 500px;
  --height-large: 250px;

  /* 여백 픽셀 파레트 */
  /* margin */
  --margin-none: 0;
  --margin-large: 30px 0 30px 1500px;
  --margin-medium: 0 0 0 15px;
  --margin-small: 30px;

  --margin-part1: 15px;

  /* padding */
  --padding-medium: 0 0 0 30px;
  --padding-small: 3px;
  --padding-right: 10px;

  /* 기타 옵션 파레트 */
  --display-grid: grid;
  --grid-template-columns: 1fr 1fr 1fr;
  --grid-gap: 10px;
  --border-style: 1px solid black;
  --display-flex: flex;
  --align-center: center;
  --outline-none: none;
  --border-value-none: none;
  --cursor-pointer: pointer;
  --justify-space-between: space-between;
  --list-style-none: none;
  --box-shadow: 2px 2px 2px 2px gray;
}
