 /* 코드 가저 일일히 수정하는 것을 줄일수 있습니다. 
 즉 , 한번에 수정이 용이하다는 것입니다. */
 :root{
    /* 테두리  파레트 */
    --border-radius-px1 : 10px;
    --border-radius-px2 : 20px;
    --border-radius-px3 : 3px;
 

    /* 색깔 파레트 */
     --color-border:black;
     --color-c1: gray;
     --color-c2: white;
     --color-back1 :gainsboro;
     --color-back2 : black;
     --color-c3:transparent;

     /* 글자파레트  */
     --all-font-family: 'Noto Sans KR', sans-serif;
     --font-weight: bold;
     --font-size-won:10px;
     --font-size-two:14px;
     --font-size-tree:11px;


     /* 가로 , 높이 파레트 */
     
     /* width */
     --width-px1:275px;
     --width-px2:220px;
     --width-px3:500px;
     --max-width-auto:auto;

     /* height */
     --height-px1:40px;
     --height-px2:500px;
     --height-px3:250px;

    
     /* 여백 픽셀 파레트  */


     /* margin */
     --margin-all0 : 0px 0px 0px 0px;
     --margin-all1 : 30px 0px 30px 1500px;
    --margin-all2 : 0px 0px 0px 15px;
    --margin-all3 : 30px 30px 30px 30px;
    

    --margin-part1 : 15px;

    

     /* padding  */
    --padding-all1 : 0px 0px 0px 30px;
    --padding-all2 : 3px 3px 3px 3px;
    --padding-right : 10px;


  



     /* 기타 옵션 파레트 */
    --etc-display2 : grid;
    --etc-grid-template : 1fr 1fr 1fr;
    --etc-grid-gap : 10px;
     
     --etc-display1 : flex;
     --etc-center :center;
     --etc-outline : none;
     --etc-border-value : none;
     --etc-cursor : pointer;
     --etc-justify-content : space-between ;
     --etc-list-style-type:none;
     --etc-box-shadow : 2px 2px 2px 2px gray;

 } 


 /* 선택자를 사용하여  문서 모두에 영향을 끼치게 함 */
* {    
    font-family: var(--all-font-family);
}


